# Next AuthJS
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Google Auth: https://console.cloud.google.com/apis/credentials
GOOGLE_ID=
GOOGLE_SECRET=

# https://geo.ipify.org//
IP_KEY=
IP_URL=

# Get API Key from:  https://app.tinybird.co/
TINYBIRD_API_KEY=
# Get BaseURL according to the cloud region from : https://www.tinybird.co/docs/api-reference/overview
TINYBIRD_BASE_URL=

# Upstash Redis from : https://upstash.com/
UPSTASH_REDIS_URL=
UPSTASH_REDIS_TOKEN=